.img-card {
  padding: .8em .8em
}

.bg-icon {
  transform: scale(2);
  margin: 1em
}

.bg-1_bullets {
  width: 9px; height: 16px;
  background: url('./items.png') -326px -178px;
}

.bg-aged_bell {
  width: 13px; height: 13px;
  background: url('./items.png') -19px -300px;
}

.bg-air_strike {
  width: 17px; height: 16px;
  background: url('./items.png') -46px -198px;
}

.bg-alpha_bullet {
  width: 9px; height: 16px;
  background: url('./items.png') -326px -198px;
}

.bg-ammo_belt {
  width: 34px; height: 9px;
  background: url('./items.png') -110px -109px;
}

.bg-ammo_synthesizer {
  width: 11px; height: 14px;
  background: url('./items.png') -326px -104px;
}

.bg-amulet_of_the_pit_lord {
  width: 21px; height: 22px;
  background: url('./items.png') -100px -28px;
}

.bg-angry_bullets {
  width: 9px; height: 13px;
  background: url('./items.png') -341px -271px;
}

.bg-arcane_gunpowder {
  width: 12px; height: 17px;
  background: url('./items.png') -309px -62px;
}

.bg-armor_synthesizer {
  width: 11px; height: 12px;
  background: url('./items.png') -66px -318px;
}

.bg-big_boy {
  width: 16px; height: 13px;
  background: url('./items.png') -124px -241px;
}

.bg-blank_bullets {
  width: 9px; height: 13px;
  background: url('./items.png') -341px -288px;
}

.bg-bionic_leg {
  width: 10px; height: 15px;
  background: url('./items.png') -326px -140px;
}

.bg-blank_companions_ring {
  width: 15px; height: 23px;
  background: url('./items.png') -173px -76px;
}

.bg-blast_helmet {
  width: 15px; height: 14px;
  background: url('./items.png') -116px -262px;
}

.bg-blood_brooch {
  width: 12px; height: 13px;
  background: url('./items.png') -87px -300px;
}

.bg-bloodied_scarf {
  width: 26px; height: 15px;
  background: url('./items.png') -61px -60px;
}

.bg-bloody_9mm {
  width: 11px; height: 18px;
  background: url('./items.png') -309px -125px;
}

.bg-blue_guon_stone {
  width: 9px; height: 14px;
  background: url('./items.png') -341px -160px;
}

.bg-bloody_eye {
  width: 7px; height: 18px;
  background: url('./items.png') -341px -116px;
}

.bg-bomb {
  width: 16px; height: 16px;
  background: url('./items.png') -21px -219px;
}

.bg-boomerang {
  width: 11px; height: 11px;
  background: url('./items.png') -248px -300px;
}

.bg-book_of_chest_anatomy {
  width: 15px; height: 16px;
  background: url('./items.png') -181px -219px;
}

.bg-bottle {
  width: 11px; height: 18px;
  background: url('./items.png') -309px -147px;
}

.bg-box {
  width: 22px; height: 16px;
  background: url('./items.png') -27px -155px;
}

.bg-bracket_key {
  width: 11px; height: 12px;
  background: url('./items.png') -81px -318px;
}

.bg-bouncy_bullets {
  width: 9px; height: 13px;
  background: url('./items.png') -341px -305px;
}

.bg-briefcase_of_cash {
  width: 18px; height: 13px;
  background: url('./items.png') -81px -241px;
}

.bg-broccoli {
  width: 15px; height: 16px;
  background: url('./items.png') -200px -219px;
}

.bg-bullet_time {
  width: 11px; height: 16px;
  background: url('./items.png') -293px -200px;
}

.bg-brick_of_cash {
  width: 13px; height: 11px;
  background: url('./items.png') -215px -300px;
}

.bg-bug_boots {
  width: 20px; height: 19px;
  background: url('./items.png') -149px -2px;
}

.bg-bullet_idol {
  width: 14px; height: 18px;
  background: url('./items.png') -257px -49px;
}

.bg-bumbullets {
  width: 13px; height: 19px;
  background: url('./items.png') -275px -24px;
}

.bg-busted_television {
  width: 17px; height: 16px;
  background: url('./items.png') -67px -198px;
}

.bg-c4 {
  width: 14px; height: 11px;
  background: url('./items.png') -219px -198px;
}

.bg-chaff_grenade {
  width: 13px; height: 16px;
  background: url('./items.png') -309px -2px;
}

.bg-cat_bullet_king_throne {
  width: 17px; height: 25px;
  background: url('./items.png') -126px -29px;
}

.bg-cartographers_ring {
  width: 15px; height: 22px;
  background: url('./items.png') -216px -119px;
}

.bg-chaos_ammolet {
  width: 22px; height: 17px;
  background: url('./items.png') -2px -134px;
}

.bg-ancient_heros_bandana {
  width: 26px; height: 15px;
  background: url('./items.png') -50px -109px;
}

.bg-chance_bullets {
  width: 13px; height: 22px;
  background: url('./items.png') -237px -76px;
}

.bg-ballot {
  width: 14px; height: 17px;
  background: url('./items.png') -275px -71px;
}

.bg-charm_horn {
  width: 20px; height: 12px;
  background: url('./items.png') -152px -198px;
}

.bg-chest_teleporter {
  width: 16px; height: 22px;
  background: url('./items.png') -173px -24px;
}

.bg-antibody {
  width: 15px; height: 15px;
  background: url('./items.png') -238px -219px;
}

.bg-armor_of_thorns {
  width: 17px; height: 13px;
  background: url('./items.png') -103px -241px;
}

.bg-baby_good_shelleton {
  width: 12px; height: 14px;
  background: url('./items.png') -2px -318px;
}

.bg-baby_good_mimic {
  width: 18px; height: 15px;
  background: url('./items.png') -130px -198px;
}

.bg-battle_standard {
  width: 12px; height: 27px;
  background: url('./items.png') -216px -26px;
}

.bg-badge {
  width: 11px; height: 12px;
  background: url('./items.png') -96px -318px;
}

.bg-charming_rounds {
  width: 9px; height: 16px;
  background: url('./items.png') -326px -218px;
}

.bg-ballistic_boots {
  width: 14px; height: 15px;
  background: url('./items.png') -275px -242px;
}

.bg-backup_gun {
  width: 20px; height: 20px;
  background: url('./items.png') -28px -85px;
}

.bg-battery_bullets {
  width: 9px; height: 15px;
  background: url('./items.png') -341px -2px;
}

.bg-backpack {
  width: 17px; height: 14px;
  background: url('./items.png') -60px -241px;
}

.bg-chicken_flute {
  width: 15px; height: 10px;
  background: url('./items.png') -111px -281px;
}

.bg-chaos_bullets {
  width: 21px; height: 15px;
  background: url('./items.png') -53px -155px;
}

.bg-cigarettes {
  width: 12px; height: 13px;
  background: url('./items.png') -103px -300px;
}

.bg-clone {
  width: 13px; height: 18px;
  background: url('./items.png') -275px -180px;
}

.bg-clear_guon_stone {
  width: 9px; height: 14px;
  background: url('./items.png') -341px -178px;
}

.bg-cloranthy_ring {
  width: 15px; height: 15px;
  background: url('./items.png') -2px -262px;
}

.bg-clown_mask {
  width: 15px; height: 14px;
  background: url('./items.png') -135px -262px;
}

.bg-coin_crown {
  width: 20px; height: 21px;
  background: url('./items.png') -2px -109px;
}

.bg-cluster_mine {
  width: 10px; height: 12px;
  background: url('./items.png') -111px -318px;
}

.bg-cog_of_battle {
  width: 15px; height: 15px;
  background: url('./items.png') -21px -262px;
}

.bg-coolant_leak {
  width: 11px; height: 17px;
  background: url('./items.png') -293px -91px;
}

.bg-copper_ammolet {
  width: 22px; height: 17px;
  background: url('./items.png') -28px -134px;
}

.bg-crisis_stone {
  width: 16px; height: 16px;
  background: url('./items.png') -41px -219px;
}

.bg-crutch {
  width: 9px; height: 18px;
  background: url('./items.png') -326px -22px;
}

.bg-cursed_bullets {
  width: 9px; height: 15px;
  background: url('./items.png') -341px -21px;
}

.bg-daruma {
  width: 11px; height: 16px;
  background: url('./items.png') -293px -220px;
}

.bg-decoy {
  width: 14px; height: 15px;
  background: url('./items.png') -2px -281px;
}

.bg-devolver_rounds {
  width: 9px; height: 15px;
  background: url('./items.png') -341px -40px;
}

.bg-disarming_personality {
  width: 14px; height: 12px;
  background: url('./items.png') -257px -225px;
}

.bg-double_vision {
  width: 14px; height: 17px;
  background: url('./items.png') -275px -92px;
}

.bg-dog {
  width: 14px; height: 14px;
  background: url('./items.png') -173px -262px;
}

.bg-drum_clip {
  width: 12px; height: 26px;
  background: url('./items.png') -197px -61px;
}

.bg-duct_tape {
  width: 10px; height: 10px;
  background: url('./items.png') -278px -300px;
}

.bg-easy_reload_bullets {
  width: 9px; height: 15px;
  background: url('./items.png') -341px -59px;
}

.bg-drill {
  width: 12px; height: 17px;
  background: url('./items.png') -309px -83px;
}

.bg-elder_blank {
  width: 15px; height: 15px;
  background: url('./items.png') -40px -262px;
}

.bg-enraging_photo {
  width: 16px; height: 16px;
  background: url('./items.png') -61px -219px;
}

.bg-escape_rope {
  width: 7px; height: 16px;
  background: url('./items.png') -354px -2px;
}

.bg-explosive_rounds {
  width: 9px; height: 15px;
  background: url('./items.png') -341px -78px;
}

.bg-explosive_decoy {
  width: 14px; height: 18px;
  background: url('./items.png') -257px -71px;
}

.bg-eyepatch {
  width: 14px; height: 11px;
  background: url('./items.png') -93px -281px;
}

.bg-flak_bullets {
  width: 11px; height: 16px;
  background: url('./items.png') -293px -240px;
}

.bg-fat_bullets {
  width: 11px; height: 13px;
  background: url('./items.png') -326px -278px;
}

.bg-friendship_cookie {
  width: 15px; height: 13px;
  background: url('./items.png') -209px -262px;
}

.bg-fortunes_favor {
  width: 14px; height: 17px;
  background: url('./items.png') -275px -113px;
}

.bg-frost_ammolet {
  width: 22px; height: 17px;
  background: url('./items.png') -54px -134px;
}

.bg-frost_bullets {
  width: 9px; height: 13px;
  background: url('./items.png') -2px -336px;
}

.bg-full_metal_jacket {
  width: 16px; height: 18px;
  background: url('./items.png') -237px -102px;
}

.bg-ghost_bullets {
  width: 9px; height: 13px;
  background: url('./items.png') -15px -336px;
}

.bg-gilded_bullets {
  width: 13px; height: 23px;
  background: url('./items.png') -237px -25px;
}

.bg-gas_mask {
  width: 15px; height: 18px;
  background: url('./items.png') -237px -170px;
}

.bg-galactic_medal_of_valor {
  width: 18px; height: 11px;
  background: url('./items.png') -144px -241px;
}

.bg-glass_guon_stone {
  width: 9px; height: 13px;
  background: url('./items.png') -28px -336px;
}

.bg-gold_ammolet {
  width: 22px; height: 17px;
  background: url('./items.png') -80px -134px;
}

.bg-green_guon_stone {
  width: 9px; height: 14px;
  background: url('./items.png') -341px -196px;
}

.bg-grappling_hook {
  width: 15px; height: 7px;
  background: url('./items.png') -252px -241px;
}

.bg-gunboots {
  width: 20px; height: 20px;
  background: url('./items.png') -52px -85px;
}

.bg-gold_junk {
  width: 12px; height: 13px;
  background: url('./items.png') -119px -300px;
}

.bg-gungeon_blueprint {
  width: 26px; height: 21px;
  background: url('./items.png') -70px -2px;
}

.bg-gundromeda_strain {
  width: 12px; height: 20px;
  background: url('./items.png') -275px -47px;
}

.bg-gungeon_pepper {
  width: 8px; height: 11px;
  background: url('./items.png') -193px -318px;
}

.bg-gunknight_armor {
  width: 20px; height: 15px;
  background: url('./items.png') -78px -155px;
}

.bg-gunknight_gauntlet {
  width: 18px; height: 16px;
  background: url('./items.png') -24px -198px;
}

.bg-gunknight_greaves {
  width: 12px; height: 18px;
  background: url('./items.png') -293px -2px;
}

.bg-gunknight_helmet {
  width: 14px; height: 19px;
  background: url('./items.png') -257px -2px;
}

.bg-hazmat_suit {
  width: 12px; height: 11px;
  background: url('./items.png') -232px -300px;
}

.bg-heart_bottle {
  width: 20px; height: 15px;
  background: url('./items.png') -102px -155px;
}

.bg-gun_soul {
  width: 14px; height: 16px;
  background: url('./items.png') -275px -202px;
}

.bg-heart_holster {
  width: 25px; height: 22px;
  background: url('./items.png') -41px -2px;
}

.bg-heart_lunchbox {
  width: 18px; height: 18px;
  background: url('./items.png') -140px -176px;
}

.bg-heart_of_ice {
  width: 15px; height: 16px;
  background: url('./items.png') -219px -219px;
}

.bg-heart_locket {
  width: 19px; height: 23px;
  background: url('./items.png') -126px -2px;
}

.bg-heart_purse {
  width: 20px; height: 25px;
  background: url('./items.png') -41px -28px;
}

.bg-heavy_boots {
  width: 20px; height: 18px;
  background: url('./items.png') -173px -2px;
}

.bg-heart_synthesizer {
  width: 15px; height: 13px;
  background: url('./items.png') -228px -262px;
}

.bg-heavy_bullets {
  width: 9px; height: 13px;
  background: url('./items.png') -41px -336px;
}

.bg-helix_bullets {
  width: 13px; height: 16px;
  background: url('./items.png') -309px -22px;
}

.bg-hip_holster {
  width: 25px; height: 19px;
  background: url('./items.png') -32px -60px;
}

.bg-hidden_compartment {
  width: 10px; height: 15px;
  background: url('./items.png') -326px -159px;
}

.bg-holey_grail {
  width: 15px; height: 22px;
  background: url('./items.png') -216px -145px;
}

.bg-homing_bullets {
  width: 11px; height: 13px;
  background: url('./items.png') -326px -295px;
}

.bg-honeycomb {
  width: 13px; height: 14px;
  background: url('./items.png') -20px -281px;
}

.bg-hot_lead {
  width: 9px; height: 13px;
  background: url('./items.png') -54px -336px;
}

.bg-hungry_bullets {
  width: 14px; height: 18px;
  background: url('./items.png') -257px -93px;
}

.bg-ibomb_companion_app {
  width: 16px; height: 12px;
  background: url('./items.png') -266px -262px;
}

.bg-ice_bomb {
  width: 16px; height: 16px;
  background: url('./items.png') -81px -219px;
}

.bg-ice_cube {
  width: 9px; height: 11px;
  background: url('./items.png') -180px -318px;
}

.bg-infuriating_note {
  width: 20px; height: 19px;
  background: url('./items.png') -149px -25px;
}

.bg-iron_coin {
  width: 18px; height: 17px;
  background: url('./items.png') -2px -198px;
}

.bg-irradiated_lead {
  width: 9px; height: 13px;
  background: url('./items.png') -67px -336px;
}

.bg-jar_of_bees {
  width: 11px; height: 16px;
  background: url('./items.png') -293px -260px;
}

.bg-jetpack {
  width: 11px; height: 15px;
  background: url('./items.png') -326px -66px;
}

.bg-junk {
  width: 12px; height: 13px;
  background: url('./items.png') -135px -300px;
}

.bg-katana_bullets {
  width: 11px; height: 21px;
  background: url('./items.png') -275px -155px;
}

.bg-knife_shield {
  width: 10px; height: 12px;
  background: url('./items.png') -125px -318px;
}

.bg-lament_configurum {
  width: 12px; height: 16px;
  background: url('./items.png') -309px -254px;
}

.bg-laser_sight {
  width: 11px; height: 11px;
  background: url('./items.png') -263px -300px;
}

.bg-lichs_eye_bullets {
  width: 19px; height: 17px;
  background: url('./items.png') -184px -176px;
}

.bg-lichy_trigger_finger {
  width: 18px; height: 10px;
  background: url('./items.png') -189px -241px;
}

.bg-lies {
  width: 12px; height: 13px;
  background: url('./items.png') -151px -300px;
}

.bg-liquid_valkyrie {
  width: 7px; height: 18px;
  background: url('./items.png') -341px -138px;
}

.bg-live_ammo {
  width: 14px; height: 14px;
  background: url('./items.png') -191px -262px;
}

.bg-lodestone_ammolet {
  width: 22px; height: 17px;
  background: url('./items.png') -106px -134px;
}

.bg-loot_bag {
  width: 15px; height: 15px;
  background: url('./items.png') -59px -262px;
}

.bg-macho_brace {
  width: 21px; height: 26px;
  background: url('./items.png') -70px -27px;
}

.bg-magazine_rack {
  width: 10px; height: 12px;
  background: url('./items.png') -139px -318px;
}

.bg-magic_bullets {
  width: 11px; height: 16px;
  background: url('./items.png') -158px -134px;
}

.bg-magic_sweet {
  width: 13px; height: 13px;
  background: url('./items.png') -36px -300px;
}

.bg-map {
  width: 26px; height: 21px;
  background: url('./items.png') -2px -60px;
}

.bg-master_of_unlocking {
  width: 19px; height: 10px;
  background: url('./items.png') -166px -241px;
}

.bg-master_round_i {
  width: 12px; height: 26px;
  background: url('./items.png') -197px -91px;
}

.bg-master_round_ii {
  width: 12px; height: 27px;
  background: url('./items.png') -216px -57px;
}

.bg-master_round_iii {
  width: 12px; height: 28px;
  background: url('./items.png') -197px -29px;
}


.bg-master_round_iv {
  width: 12px; height: 27px;
  background: url('./items.png') -216px -88px;
}

.bg-master_round_v {
  width: 18px; height: 33px;
  background: url('./items.png') -2px -23px;
}

.bg-meatbun {
  width: 10px; height: 10px;
  background: url('./items.png') -292px -300px;
}

.bg-medkit {
  width: 13px; height: 9px;
  background: url('./items.png') -146px -281px;
}

.bg-melted_rock {
  width: 16px; height: 16px;
  background: url('./items.png') -101px -219px;
}

.bg-metronome {
  width: 10px; height: 9px;
  background: url('./items.png') -181px -155px;
}

.bg-military_training {
  width: 12px; height: 14px;
  background: url('./items.png') -18px -318px;
}

.bg-mimic_tooth_necklace {
  width: 18px; height: 12px;
  background: url('./items.png') -176px -198px;
}

.bg-molotov {
  width: 7px; height: 17px;
  background: url('./items.png') -341px -250px;
}

.bg-monster_blood {
  width: 15px; height: 12px;
  background: url('./items.png') -55px -281px;
}

.bg-muscle_relaxant {
  width: 12px; height: 12px;
  background: url('./items.png') -24px -44px;
}

.bg-mustache {
  width: 13px; height: 5px;
  background: url('./items.png') -149px -124px;
}

.bg-nanomachines {
  width: 15px; height: 11px;
  background: url('./items.png') -74px -281px;
}

.bg-napalm_strike {
  width: 17px; height: 16px;
  background: url('./items.png') -88px -198px;
}

.bg-number_2 {
  width: 26px; height: 15px;
  background: url('./items.png') -80px -109px;
}

.bg-obsidian_shell_casing {
  width: 13px; height: 20px;
  background: url('./items.png') -257px -25px;
}

.bg-oiled_cylinder {
  width: 16px; height: 16px;
  background: url('./items.png') -121px -219px;
}

.bg-old_crest {
  width: 14px; height: 16px;
  background: url('./items.png') -275px -222px;
}

.bg-old_knights_flask {
  width: 13px; height: 21px;
  background: url('./items.png') -237px -124px;
}

.bg-old_knights_helm {
  width: 17px; height: 12px;
  background: url('./items.png') -198px -198px;
}

.bg-old_knights_shield {
  width: 11px; height: 14px;
  background: url('./items.png') -326px -122px;
}

.bg-omega_bullets {
  width: 9px; height: 16px;
  background: url('./items.png') -326px -238px;
}

.bg-orange {
  width: 14px; height: 13px;
  background: url('./items.png') -37px -281px;
}

.bg-orange_guon_stone {
  width: 9px; height: 18px;
  background: url('./items.png') -326px -44px;
}

.bg-orbital_bullets {
  width: 20px; height: 14px;
  background: url('./items.png') -126px -155px;
}

.bg-owl {
  width: 17px; height: 16px;
  background: url('./items.png') -109px -198px;
}

.bg-partially_eaten_cheese {
  width: 15px; height: 18px;
  background: url('./items.png') -237px -192px;
}

.bg-pig {
  width: 15px; height: 17px;
  background: url('./items.png') -2px -241px;
}

.bg-pink_guon_stone {
  width: 15px; height: 13px;
  background: url('./items.png') -247px -262px;
}

.bg-planar_lead {
  width: 16px; height: 17px;
  background: url('./items.png') -237px -149px;
}

.bg-platinum_bullets {
  width: 12px; height: 17px;
  background: url('./items.png') -309px -104px;
}

.bg-poison_vial {
  width: 11px; height: 16px;
  background: url('./items.png') -326px -2px;
}

.bg-portable_table_device {
  width: 7px; height: 9px;
  background: url('./items.png') -354px -42px;
}

.bg-portable_turret {
  width: 11px; height: 18px;
  background: url('./items.png') -309px -169px;
}

.bg-potion_of_gun_friendship {
  width: 11px; height: 17px;
  background: url('./items.png') -293px -112px;
}

.bg-potion_of_lead_skin {
  width: 11px; height: 17px;
  background: url('./items.png') -293px -133px;
}

.bg-prime_primer {
  width: 12px; height: 14px;
  background: url('./items.png') -34px -318px;
}

.bg-proximity_mine {
  width: 12px; height: 12px;
  background: url('./items.png') -183px -300px;
}

.bg-quality_A {
  width: 14px; height: 18px;
  background: url('./items.png') -257px -115px;
}

.bg-quality_B {
  width: 14px; height: 18px;
  background: url('./items.png') -257px -137px;
}

.bg-quality_C {
  width: 14px; height: 18px;
  background: url('./items.png') -257px -159px;
}

.bg-quality_D {
  width: 14px; height: 18px;
  background: url('./items.png') -257px -181px;
}

.bg-quality_NA {
  width: 14px; height: 18px;
  background: url('./items.png') -257px -203px;
}

.bg-quality_S {
  width: 14px; height: 18px;
  background: url('./items.png') -275px -2px;
}

.bg-r2g2 {
  width: 15px; height: 18px;
  background: url('./items.png') -197px -146px;
}

.bg-rat_boots {
  width: 22px; height: 20px;
  background: url('./items.png') -2px -85px;
}

.bg-ration {
  width: 13px; height: 14px;
  background: url('./items.png') -2px -300px;
}

.bg-red_guon_stone {
  width: 9px; height: 14px;
  background: url('./items.png') -341px -214px;
}

.bg-relodestone {
  width: 11px; height: 19px;
  background: url('./items.png') -293px -68px;
}

.bg-remote_bullets {
  width: 9px; height: 21px;
  background: url('./items.png') -309px -191px;
}

.bg-resourceful_sack {
  width: 16px; height: 22px;
  background: url('./items.png') -173px -50px;
}

.bg-riddle_of_lead {
  width: 12px; height: 18px;
  background: url('./items.png') -293px -24px;
}

.bg-ring_of_chest_vampirism {
  width: 15px; height: 24px;
  background: url('./items.png') -149px -96px;
}

.bg-ring_of_chest_friendship {
  width: 15px; height: 22px;
  background: url('./items.png') -216px -171px;
}

.bg-ring_of_ethereal_form {
  width: 15px; height: 20px;
  background: url('./items.png') -237px -52px;
}

.bg-ring_of_mimic_friendship {
  width: 15px; height: 23px;
  background: url('./items.png') -173px -103px;
}

.bg-ring_of_fire_resistance {
  width: 15px; height: 21px;
  background: url('./items.png') -197px -121px;
}

.bg-ring_of_miserly_protection {
  width: 15px; height: 23px;
  background: url('./items.png') -126px -58px;
}

.bg-ring_of_the_resourceful_rat {
  width: 15px; height: 23px;
  background: url('./items.png') -197px -2px;
}

.bg-rocket_powered_bullets {
  width: 13px; height: 15px;
  background: url('./items.png') -309px -216px;
}

.bg-roll_bomb {
  width: 15px; height: 17px;
  background: url('./items.png') -21px -241px;
}

.bg-rolling_eye {
  width: 15px; height: 15px;
  background: url('./items.png') -78px -262px;
}

.bg-ruby_bracelet_post_upgrade {
  width: 16px; height: 16px;
  background: url('./items.png') -141px -219px;
}

.bg-scattershot {
  width: 9px; height: 13px;
  background: url('./items.png') -80px -336px;
}

.bg-ruby_bracelet_pre_upgrade {
  width: 16px; height: 16px;
  background: url('./items.png') -161px -219px;
}

.bg-scope {
  width: 21px; height: 17px;
  background: url('./items.png') -2px -155px;
}

.bg-ring_of_triggers {
  width: 15px; height: 15px;
  background: url('./items.png') -97px -262px;
}

.bg-scouter {
  width: 15px; height: 8px;
  background: url('./items.png') -233px -241px;
}

.bg-sense_of_direction {
  width: 17px; height: 20px;
  background: url('./items.png') -216px -2px;
}

.bg-ser_junkan {
  width: 12px; height: 13px;
  background: url('./items.png') -167px -300px;
}

.bg-seven_leaf_clover {
  width: 13px; height: 15px;
  background: url('./items.png') -309px -235px;
}

.bg-shadow_bullets {
  width: 9px; height: 16px;
  background: url('./items.png') -326px -258px;
}

.bg-shadow_clone {
  width: 12px; height: 12px;
  background: url('./items.png') -199px -300px;
}

.bg-shelleton_key {
  width: 20px; height: 20px;
  background: url('./items.png') -76px -85px;
}

.bg-shield_of_the_maiden {
  width: 16px; height: 15px;
  background: url('./items.png') -40px -241px;
}

.bg-shock_rounds {
  width: 9px; height: 13px;
  background: url('./items.png') -93px -336px;
}

.bg-shotga_cola {
  width: 9px; height: 15px;
  background: url('./items.png') -341px -97px;
}

.bg-shotgun_coffee {
  width: 12px; height: 10px;
  background: url('./items.png') -130px -281px;
}

.bg-silver_bullets {
  width: 9px; height: 20px;
  background: url('./items.png') -293px -154px;
}

.bg-singularity {
  width: 11px; height: 15px;
  background: url('./items.png') -326px -85px;
}

.bg-sixth_chamber {
  width: 18px; height: 25px;
  background: url('./items.png') -100px -54px;
}

.bg-smoke_bomb {
  width: 15px; height: 14px;
  background: url('./items.png') -154px -262px;
}

.bg-snowballets {
  width: 13px; height: 17px;
  background: url('./items.png') -24px -23px;
}

.bg-space_friend {
  width: 14px; height: 17px;
  background: url('./items.png') -275px -134px;
}

.bg-spice {
  width: 20px; height: 21px;
  background: url('./items.png') -26px -109px;
}

.bg-sponge {
  width: 13px; height: 16px;
  background: url('./items.png') -309px -42px;
}

.bg-springheel_boots {
  width: 20px; height: 20px;
  background: url('./items.png') -100px -85px;
}

.bg-sprun {
  width: 10px; height: 10px;
  background: url('./items.png') -306px -300px;
}

.bg-stout_bullets {
  width: 12px; height: 14px;
  background: url('./items.png') -50px -318px;
}

.bg-stuffed_star {
  width: 19px; height: 18px;
  background: url('./items.png') -173px -130px;
}

.bg-sunglasses {
  width: 18px; height: 9px;
  background: url('./items.png') -211px -241px;
}

.bg-super_hot_watch {
  width: 22px; height: 22px;
  background: url('./items.png') -100px -2px;
}

.bg-super_space_turtle {
  width: 11px; height: 8px;
  background: url('./items.png') -163px -281px;
}

.bg-supply_drop {
  width: 10px; height: 18px;
  background: url('./items.png') -293px -178px;
}

.bg-table_tech_blanks {
  width: 19px; height: 18px;
  background: url('./items.png') -126px -85px;
}

.bg-table_tech_heat {
  width: 20px; height: 19px;
  background: url('./items.png') -149px -48px;
}

.bg-table_tech_money {
  width: 19px; height: 18px;
  background: url('./items.png') -2px -176px;
}

.bg-table_tech_rage {
  width: 19px; height: 18px;
  background: url('./items.png') -25px -176px;
}

.bg-table_tech_rocket {
  width: 19px; height: 18px;
  background: url('./items.png') -48px -176px;
}

.bg-table_tech_shotgun {
  width: 19px; height: 18px;
  background: url('./items.png') -71px -176px;
}

.bg-table_tech_sight {
  width: 19px; height: 18px;
  background: url('./items.png') -94px -176px;
}

.bg-table_tech_stun {
  width: 19px; height: 18px;
  background: url('./items.png') -117px -176px;
}

.bg-teleporter_prototype {
  width: 16px; height: 19px;
  background: url('./items.png') -237px -2px;
}

.bg-ticket {
  width: 35px; height: 17px;
  background: url('./items.png') -2px -2px;
}

.bg-trusty_lockpicks {
  width: 5px; height: 16px;
  background: url('./items.png') -354px -22px;
}

.bg-turkey {
  width: 10px; height: 12px;
  background: url('./items.png') -153px -318px;
}

.bg-turtle_problem {
  width: 7px; height: 8px;
  background: url('./items.png') -354px -55px;
}

.bg-unity {
  width: 15px; height: 18px;
  background: url('./items.png') -2px -219px;
}

.bg-uranium_ammolet {
  width: 22px; height: 17px;
  background: url('./items.png') -132px -134px;
}

.bg-utility_belt {
  width: 27px; height: 9px;
  background: url('./items.png') -150px -155px;
}

.bg-vorpal_bullets {
  width: 12px; height: 18px;
  background: url('./items.png') -293px -46px;
}

.bg-wax_wings {
  width: 13px; height: 13px;
  background: url('./items.png') -53px -300px;
}

.bg-weird_egg {
  width: 12px; height: 16px;
  background: url('./items.png') -309px -274px;
}

.bg-white_guon_stone {
  width: 9px; height: 12px;
  background: url('./items.png') -167px -318px;
}

.bg-wingman {
  width: 13px; height: 13px;
  background: url('./items.png') -70px -300px;
}

.bg-wolf {
  width: 18px; height: 18px;
  background: url('./items.png') -162px -176px;
}

.bg-yellow_chamber {
  width: 18px; height: 21px;
  background: url('./items.png') -149px -71px;
}

.bg-zombie_bullets {
  width: 9px; height: 14px;
  background: url('./items.png') -341px -232px;
}